@media (max-width: 321px) {
    .header {
        &__logo {
            img {
                width: 90%;
            }
        }
        &__official {
            display: none ;
        }
        &__phone {
            font-size: 14px;
            margin-right: 7px;
        }
        button {
            margin-top: 2px;
            width: 125px;
            margin-right: 7px;
            font-size: 10px;
        }
    }
    .promo {
        &__header {
            font-size: 29px;
            line-height: 31px;
            text-align: center;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
            text-align: center;
        }
        &__icon {
            margin-right: 7px;
            width: 95px;
            font-size: 12px;
        }
        .button_main {
            margin: 0 auto;
            margin-top: 45px;
            width: 260px;
            height: 44px;
            font-size: 15px;
        }
        &__link {
            margin-right: 27px;
            margin-top: 15px;
            font-size: 14px;
        }
    }
    
    .advantages {
        .title {
            line-height: 34px;
        }
        &__wrapper {
            display: block;
            margin-top: 55px;
        }
        &__item {
            margin: 0 auto;
            max-width: 250px;
            &:nth-child(n+1) {
                margin-top: 30px;
            }
        }
        &__subtitle {
            margin-top: 13px;
        }
        &__descr {
            margin-top: 15px;
        }
    }

    .consultation {
        .title {
            text-align: center;
            font-size: 31px;
            line-height: 33px;
        }
        &__descr {
            padding: 0px 10px 0px 12px;
            margin-top: 60px;
            font-size: 19px;
            line-height: 22px;
        }
        .feed-form {
            width: 270px;
            margin-left: 23px;
            .button_submit {
                height: 51px;
                font-size: 14px;
            }
        }
    }
}